body, html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.grid {
    display: grid;
    width: 600px;
    height: 600px;
    border: 1px solid black;
}

.gridBox {
    width: auto;
    height: auto;
    border: 1px solid black;
}

.active {
    background-color: black;
}

